.search-container {
  background-color: #333e4d;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-container-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  max-width: 1280px;
  width: 100%;
}

.input-container {
  position: relative;
}

.input {
  max-width: 160px;
  height: 24px;
  padding: 8px 32px;
  padding-right: 12px;
  font-size: 18px;
  font-weight: 400;
  background-color: #1e293b;
  color: #606267;
  border: 2px solid transparent;
  outline: none;
  transition: border-color 0.3s ease;
  border-radius: 4px;
}

.input:focus {
  color: #ffffff;
  border: 2px solid #606267; /* Red border when focused */
  outline: none; /* Ensure no outline is visible */
}

.search-icon {
  position: absolute;
  top: 48.5%;
  left: 9.5%;
  transform: translate(-50%, -50%);
}

.serach-content-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main-logo {
  color: #b5d2ff;
  font-size: 24px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

select {
  border: 2px solid transparent;
  display: inline-block;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 8px 3.5em 8px 1em;
  font-size: 18px;
  font-weight: 400;
  background-color: #1e293b;
  color: #606267;
  border: 2px solid transparent;
  outline: none;
  transition: border-color 0.3s ease;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* arrows */
select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, #606267 50%),
    linear-gradient(135deg, #606267 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 8px;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image: linear-gradient(45deg, #606267 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #606267 50%);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: #606267;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: transparent;
}

@media (max-width: 768px) {
  .search-container-content {
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 600px) {
  .search-bar {
    width: 100%;
    flex-direction: column;
    gap: 12px;
  }

  .input-container {
    display: flex;
    width: 100%;
  }

  .serach-content-box {
    width: 100%;
  }

  .input {
    max-width: initial;
    width: 100%;
  }

  .search-icon {
    left: 5.5%;
  }

  select{
    width: 100%;
  }

  .btn{
    width: 100%;
  }
}
